<!DOCTYPE html>
 <html>
   <head>
     <meta charset="UTF-8">
     <title>HomePage</title>
   </head>
   <body>
   <ul>
    {% for game in games %}
        <li>
          <p>{{game.name}}</p>
            {% if game.cover !== undefined %}
            <img src="{{game.cover.url}}" alt="Game's cover" />
            {% endif %}
        </li>
    {% endfor %}
   </ul>
   </body>
 </html>
