<!DOCTYPE html>
 <html>
   <head>
     <meta charset="UTF-8">
     <title>Platform Page</title>
   </head>
   <body>
   <ul>
    {% for game in games %}
        <li>
          <p>{{game.platform.name}}</p>
            {% if game.platform.platform_logo_url !== undefined %}
            <img src="{{game.platform.platform_logo_url}}" alt="Platform's cover" />
            {% endif %}
        </li>
    {% endfor %}
   </ul>
   </body>
 </html>
