{% extends "layout.njk" %}
  {% block content %}
   <h1>Listes des différentes platformes de jeux</h1>
   <ul>
    {% for platform in platformObject %}
        <li>
          <p>{{platform.name}}</p>
            {% if platform.platform_logo_url !== undefined %}
            <img src="{{platform.platform_logo_url}}" alt="Platform's cover" />
            {% endif %}
        </li>
    {% endfor %}
   </ul>
  {% endblock %}
