{% extends "layout.njk" %}
  {% block content %}
   <ul>
    {% for game in games %}
        <li>
          <p>{{game.platform.name}}</p>
            {% if game.platform.platform_logo_url !== undefined %}
            <img src="{{game.platform.platform_logo_url}}" alt="Platform's cover" />
            {% endif %}
        </li>
    {% endfor %}
   </ul>
  {% endblock %}
