{% extends "layout.njk" %}
  {% block content %}
   <h1>Listes des différents genres de jeux</h1>
   <ul>
   {% for type in tableauGenres %}
     <li><a href="/types/{{type}}">{{type}}</a></li>
   {% endfor %}
   </ul>
  {% endblock %}
