<!DOCTYPE html>
 <html>
   <head>
     <meta charset="UTF-8">
     <title>Type Page</title>
   </head>
   <body>
   <h1>Listes des différents genres de jeux</h1>
   <ul>
   {% for type in types %}
     <li>{{type.genres}}</li>
   {% endfor %}
   </ul>
   </body>
 </html>
