{% extends "layout.njk" %}

{% block content %}
  <h1>Types Lists!</h1>

  <div class="container">
    <div class="row">
      {% for type in tableauGenres %}
          <div class="col-md-4 col-sm-6">
            <a href="/types/{{type}}" class="btn btn-outline-primary link-platform">
              {{type}}
            </a>
          </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}


